# OSX
.DS_Store

# root
.idea
.git
.gitignore
README.md
.travis.yml
dev.sh
*Dockerfile
docker-compose.yml
install_extension.sh
.env*
logs
.dockerignore
env.example

# SASEUL
doc/
conf/
bin/installation_aws_linux.sh
bin/saseul_make
bin/saseuld.service
*/README.md
*/vendor
*/.php_cs.dist
*/kahlan-config.php
*/.phan
*/tests
data
blockchain/apichunks/*
blockchain/broadcastchunks/*
blockchain/transactions/*

saseuld/saseuld_test
saseuld/saseuld
